@use '../../scss/' as *;

.header {
    height: $header-height;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    transition: height 0.3s ease, background-color 0.3s ease;
}
// .shrink {
//     height: $header-height;
//     background-color: $body-bg !important;
// }
.content {
    @include flex(center, space-between);

    height: 100%;
    padding: 0 2rem;

    @include mobile {
        justify-content: center;
    }
}

.logo {

    @include flex(center, flex-start);
    @include mobile {
        @include flex(center,center)
    }
    &:hover {
        color: unset;
    }

    img {
        margin-top: 15px;
        margin-right: 10px;
        width: 15%;
        
        @include tablet {
            width: 17%;
            margin-right: 0;
        }

        @include mobile {
            width: 15%;
            margin-right: 0;
        }
    }
}

.nav {
    @include flex(center, unset);

    & > * ~ * {
        margin-left: 2rem;
    }

    & li {
        padding: 5px 0;
        font-weight: 700;
        position: relative;
        font-size: 1.5rem;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 2px;
            background-color: $main-color;
            transition: width 0.5s ease;
        }

        &:hover::after,
        &.navActive::after {
            width: 100%;
        }
    }

    @include mobile {
        position: fixed;
        bottom: 0;
        left: 0;
        height: 5rem;
        width: 100%;
        background-color: $body-bg;
        padding: 0 2rem;
        box-shadow: $box-shadow;

        @include flex(center, space-between);

        & > * ~ * {
            margin-left: 0;
        }
    }
}
